<?xml version="1.0" encoding="utf-8"?>
<!-- Konfigurimi për IIS. "dotnet publish" plotëson automatikisht processPath/arguments. -->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\SmartScreen.Api.dll" stdoutLogEnabled="false"
                  stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <security>
        <requestFiltering>
          <!-- Lejo ngarkimin e videove deri 1 GB (IIS e kufizon në 30 MB si parazgjedhje) -->
          <requestLimits maxAllowedContentLength="1073741824" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>
